html {
        scroll-behavior: smooth;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E4FDE1;

}

.header {
    background: #456990;
    position: absolute; 
    font-family: Verdana, sans-serif;
    font-size: 35px;
    line-height: 40px;
    height: 89px;
    left: 90px;
    top: 0px;
    right: 90px;
}

nav a {
    text-decoration: none;
    color: #F45B69;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    top: 56px;
    position: fixed; 
}

nav a:hover{
    color: yellow;
}

.name {
    position: absolute;
    width: 207px;
    height: 52px;
    left: 110px;
    top: 38px;
    font-size: 56.25px;
    line-height: 65px;
    color: white;
}

.name:hover {
    color: cyan;
}

.home {
    position: absolute;
    width: 112px;
    height: 39px;
    left: 395px;
    top: 50px;
    font-size: 42px;
    line-height: 48px;
}

.about {
    position: absolute;
    width: 101px;
    height: 38px;
    left: 539px;
    font-size: 35px;
    line-height: 40px;
}

.work {
    position: absolute;
    width: 81px;
    height: 38px;
    left: 672px;
    font-size: 35px;
    line-height: 40px;
}

.contact{
    position: absolute;
    width: 121px;
    height: 38px;
    left: 785px;
    font-size: 35px;
    line-height: 40px;
}

.welcomebox {
    position: absolute;
    height: 540px;
    left: 90px;
    right: 90px;
    top: 90px;
    bottom: 90px;
    background: rgba(255, 255, 255, 0.35);
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.welcome {
    position: absolute;
    text-align: center;
    height: 128px;
    left: 425px;
    top: 105px;

    font-family: Vesper, Libre;
    font-size: 100px;
    line-height: 189px;

}

.welcome2 {
    position: absolute;
    width: 380px;
    height: 120px;
    left: 452px;
    top: 45%;
    font-family: Trykker;
    font-size: 32px;
    line-height: 40px;
}

.boxabout {
    position: absolute;
    top: 653px;
    height: 540px;
    left: 90px;
    right: 90px;
    bottom: 90px;

    background: rgba(115, 166, 173, 0.3);

}

.profile {
    position: absolute;
    width: 129px;
    height: 129px;
    left: 98px;
    top: 61px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
}

.greetings {
    position: absolute;
    width: 335px;
    height: 426px;
    top: 60px;
    left: 265px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.boxwork {
    position: absolute;
    height: 526px;
    left: 90px;
    right: 90px;
    top: 1202px;

    background: rgba(115, 166, 173, 0.6);
}

.workinfo {
    position: absolute;
width: 771px;
height: 300px;
top: 60px;
left: 265px;

font-family: sans-serif;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 31px;

}

.boxcontact {
    position: absolute;
    right: 90px;
    height: 650px;
    left: 90px;
    top: 1751px;
    background: rgba(115, 166, 173, 0.8);
    
}

.form {
    width:340px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    margin:calc(50vh - 300px) auto;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative
}

h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2}

input:focus{border-bottom:2px solid #78788c}

p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a}

button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s}

button:hover{
    background:#78788c;
    color:#fff
}



.footer {
    position: fixed;
    height: 90px;
    left: 90px;
    right: 90px;
    bottom: 0px;
    background: #114B5F;
}

.afoot {
    position: absolute;
    color: white;
    top: 32px;
    bottom: 32px;
    left: 540px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-decoration: none;
}

.gnuc {
    text-decoration: none;
}

.gnuc:link {
    color: white;
}

.gnuc:hover {
    color: yellow;
}
